.contactsBlock {
    height: 100vh;
    background-color: #4aba4a;
}
.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: darkgrey;
}
.form {
    border: 1px solid;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.input {
    height: 20px;
    margin-bottom: 5px;
}
.textarea {
    height: 100%;
}