.contactsBlock {
    background-color: #4aba4a;
}
.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: darkgrey;
}
.form {
    width: 50%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input, .form textarea {
    width: 100%;
}
.submitBtn {
    padding: 10px 20px;
    background-color: gray;
}
@media screen and (max-width: 450px) {
    .form {
        width: 100%;
    }
}