.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1046px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}