.title {
  margin-bottom: 30px;
  position: relative;
}

h2 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 400;
  display: block;
  color: #1c1b1b;
  font-size: 2em;
  line-height: 1.2em;
}

.title::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 2px;
  background: #1c1b1b;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, 50%);
}
