.container {
    border: 1px solid;
    background-color: darkgrey;
}
.imgBlock {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBlock img {
    width: 300px;
    height: 300px;
}
.imgBlock button {
    position: absolute;
    width: 50%;
}

