.work {
    width: 450px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}
.image {
    height: 300px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view {
    background-color: gray;
    padding: 10px 20px;
}

