.worksBlock {
    background-color: #fff;
    padding: 100px 0;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.container {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
@media screen and (max-width: 1124px) {
    .container {
        justify-content: center;
    }
}