@import '../Common/Styles/sass/variable';

.skillsBlock {
  background-color: $bgColor;
  padding: 100px 0;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .skills {
      //border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 15px;
      @media screen and (max-width: 938px) {
        align-items: center;
        justify-content: center;
      }
    }
  }
}