.skillsBlock {
    height: 100vh;
    background-color: #4aba4a;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: darkgrey;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
