.main {
    height: 100vh;
    background-color: darksalmon;
}
.text {
    width: 320px;
    background-color: darkgrey;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: darkgrey;
}