@import '../Common/Styles/sass/variable';
@import '../Common/Styles/sass/mixins';

.footerBlock {
  background-color: $primaryColor;
  padding: 30px 0;

  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 503px) {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .copyright {
      @include text($fontFamily, 14px, 0, #808080, 38px);
      padding: 18px 0px;
      text-align: center;
      //margin-left: 100px;
    }
    .IconContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //margin-right: 100px;
    }
  }
}

